@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<a href="/User/Delete/" class="btn btn-primary me-2" style="width:200px">Hesabımı Sil</a>

<a href="/User/ChangePassword/" class="btn btn-secondary me-2" style="width:200px">Şifre Değiştir</a>
