@model AppUser

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<form method="post" class="form-group" enctype="multipart/form-data">
    <label>Ad</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Soyad</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    <label>Email</label>
    <input type="email" asp-for="Email" class="form-control" required />
    <br />
    <label>Telefon</label>
    <input type="text" asp-for="PhoneNumber" class="form-control" required />
    <br />
    <label>Resim</label>
    <input type="text" asp-for="ImageURL" class="form-control" required />
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>