@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <a href="/Employee/Index/" class=" btn btn-outline-warning" style="width: 200px; background-color: blue; color: white; margin: 10px;">CRM Index</a>
    <br />
    <br />
    <a href="/Employee/Employee/Index" class=" btn btn-outline-warning" style="width: 200px; background-color: green; color: white; margin: 10px;">Employee Area</a>
    <br />
    <br />
    <a href="/Admin/AdminCustomer/Index" class=" btn btn-outline-warning" style="width: 200px; background-color: red; color: white; margin: 10px;">Admin Area</a>

</div>
