@model AppUser

@{ }

<h1>EmailConfirmed</h1>
<form method="post">

    <label>E Mail</label>
    <input type="text" asp-for="Email" class="form-control" />

    <label>Confirm Code</label>
    <input type="text" asp-for="MailCode" class="form-control" />

    <button type="submit">Confirmed</button>
</form>