@model MailRequest
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h1>Send Mail</h1>
<form class="form-group" method="post">
    <label>Receiver Mail</label>
    <input type="text" asp-for="ReceiverEmail" class="form-control" />
    <br />
    <label>Subject</label>
    <input type="text" asp-for="EmailSubject" class="form-control" />
    <br />
    <label>Message</label>
    <textarea asp-for="EmailContent" id="w3review" name="w3review" rows="4" cols="50" class="form-control"></textarea>
    <br />
    <button class="btn btn-warning">Send</button>
</form>