@model List<Announcement>

@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<h1>Duyuru Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Duyuruyu Aç</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AnnouncementID</td>
            <td>@item.Title</td>
            <td>@item.Date</td>
            <td><a href="/Announcement/Delete/@item.AnnouncementID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Announcement/Update/@item.AnnouncementID" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="/Announcement/Detail/@item.AnnouncementID" class="btn btn-outline-dark">Duyuruyu Aç</a></td>
        </tr>
    }
</table>
<a href="/Announcement/NewAnnouncement/" class="btn btn-outline-primary" style="width:200px">Yeni Duyuru Ekle</a>