@model Announcement

<h1>Yeni Duyuru Girişi</h1>

<form method="post">
    
    <label>Duyuru Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>İçerik</label>
    <input type="text" asp-for="Content" class="form-control" />
    <br />

    <button class="btn btn-warning">Ekle</button>
</form>